* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: /*'Nunito Sans', */sans-serif;
}
.clearFix{
	clear: both;
}
.header {
	background-color: #1a1a1a;
	padding: 20px;
}
.row .activeHeader{
	position: fixed;
	z-index: 10;
}
.logo {
	display: flex;
	align-items: center;
}

.top .logo-title {
	display: none;
}

.footer-pos .logo {
	padding-top: 35px;
}

.navbar.fix:after {
	display: block;
	content: '';
	clear: both;
}

.header .fix {
	margin: 0;
	min-height: auto;
}

.icons {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

#burger {
	display: none;
}

.burger-button {
	width: 30px;
	display: block;
	float: right;
	margin-bottom: 0;
	cursor: pointer;
}

.burger-line {
	background-color: #ffffff;
	border-radius: 1px;
	display: block;
	margin-bottom: 3px;
	height: 3px;
}

.navbar-list {
	display: none;
	text-align: center;
	clear: right;
	margin-bottom: 0;
}

.navbar-item {
	list-style-type: none;
	color: white;
	text-transform: capitalize;
    cursor: pointer;
}

.navbar-item:last-child {
	border: none;
}
.ng-binding{
	color: white;
	font-weight: 700;
}
.navbar-item .ng-bindingChild{
	text-decoration: none;
	font-weight: 300;
}

#burger:checked + .navbar-list {
	display: block;
	width: 100%;
}

.knowledge-sec {
	background-color: #1a1a1a;
}

.container {
	margin: 0 auto;
}

.knowledge {
	padding-bottom: 105px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

/*#slides_control > div{*/
	/*height: 200px;*/
/*}*/
.slider-img {
	margin:auto;
	width: 400px;
}
/*#slides_control {*/
	/*position:absolute;*/
	/*width: 400px;*/
	/*left:50%;*/
	/*top:20px;*/
	/*margin-left:-200px;*/
/*}*/

.knowledge-item {
	color: white;
	padding: 0 50px;
}

/*.knowledge-item.carousel-caption {*/
	/*position: inherit;*/
/*}*/

.knowledge-item .sec-title {
	margin-top: 100px;
	padding-bottom: 20px;
}

.knowledge-item .desc {
	padding-bottom: 45px;
}

.knowledge .know-btn {
	border-radius: 20px;
    background-image: none;
    background-color: #27ae61;
    font-size: 18px;
}

/*.icon-prev {*/
	/*width: 30px;*/
	/*height: 30px;*/
	/*margin-top: -15px;*/
	/*margin-left: -15px;*/
	/*font-size: 30px;*/
/*}*/

/*.icon-next {*/
	/*width: 30px;*/
	/*height: 30px;*/
	/*margin-top: -15px;*/
	/*margin-left: -15px;*/
	/*font-size: 30px;*/
/*}*/

/*.slider-control {*/
	/*position: absolute;*/
	/*top: 0;*/
	/*bottom: 0;*/
	/*left: 0;*/
	/*width: 15%;*/
	/*font-size: 20px;*/
	/*color: #fff;*/
	/*text-align: center;*/
	/*text-shadow: 0 1px 2px rgba(0,0,0,0.6);*/
	/*opacity: .5;*/
/*}*/

/*.left .slider-control {*/
	/*background-image: linear-gradient(to right,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.0001) 100%);*/
	/*background-repeat: repeat-x;*/
/*}*/

/*.right .slider-control {*/
	/*right: 0;*/
	/*left: auto;*/
	/*background-image: linear-gradient(to right,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.0001) 100%);*/
	/*background-repeat: repeat-x;*/
/*}*/

.leftbar {
	margin: 0;
	padding: 0;
	list-style-type: none;
	/*width: 100px;*/
}
.leftbar li {
	border-left: 10px solid #666;
	border-bottom: 1px solid #666;
}
.leftbar a {
	background-color: #949494;
	color: #fff;
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
	border-left: 5px solid #33ADFF;
	display: block;
}
.leftbar a:hover {
	background-color: #666;
	border-left: 5px solid #3333FF;
}

.footer {
	background-color: #1a1a1a;
}

.footer-pos {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-pos .navbar {
	padding-top: 55px;
	width: 100%;
	margin-bottom: 0;
}

.footer-list {
	color: white;
	list-style-type: none;
	text-transform: capitalize;
	text-align: center;
}

.logo-title {
	text-transform: uppercase;
	color: white;
    font-weight: 700;
    font-size: 17px;
    margin: 0;
    padding-left: 10px;
}

.footer-item {
	padding: 15px;
	border-bottom: 1px solid #262626;
	cursor: pointer;
}

.footer-item:last-child {
	border: none;
}
/*------------------------tests.html---------------------------------*/
.testsContainer{
	margin: 15px;
}
.itenTest{
	background-color: #f1f1f1;
	padding: 15px;
	margin-bottom: 10px;
}
.itenTest:last-child{
	margin-bottom: 0;
}
.itenTest div p{
	font-style: italic;
	font-weight: 100;
}
ng-view .ng-scope .ng-binding{
	color: #1a1a1a;
}
.ng-scope div button{
	padding: 10px 15px;
	color: white;
	font-size: 18px;
	font-weight: 500;
	border: none;
	background-color: #4CAF50;
}
.ng-scope div button:hover{
	background-color: #4DAd09;
}
/*----------------------leftBar.html-----------------------------------*/
.leftBarSection{
	width: 25%;
}
.leftbar{
	float: left;
}
.leftBarSection .leftbarItem a{
	text-decoration: none;
}
.leftbarItem a:hover{
	color: white;
}
/*-----------------------test.html----------------------------------*/
.testContainer{
	float: left;
	width: 75%;
	padding: 15px;
}
.timeLeft{
	float: right;
}
.bodyTest{
	background-color: #f1f1f1;
}
.bodyTest p{
	padding: 10px 10px 0 10px;
}
.bodyTest form{
	padding: 10px;
}
.testBtnSub{
	padding: 10px 15px;
	color: white;
	font-size: 18px;
	font-weight: 500;
	border: none;
	background-color: #4CAF50;
}
.testBtnSub:hover{
	background-color: #4DAd09;
}
/*-----------------------statistic.html----------------------------------*/
.stat-table {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	text-align: left;
	border-collapse: separate;
	border-spacing: 5px;
	background: #ECE9E0;
	color: #656665;
	border: 16px solid #ECE9E0;
	border-radius: 20px;
}
.stat-header {
	font-size: 18px;
	padding: 10px;
}
.stat-data {
	background: #F5D7BF;
	padding: 10px;
}

/*---------------------------------------------------------*/
@media screen and (min-width: 375px) {
	.top .logo-title {
		display: block;
	}
	.navbar-list .dropdown{
		float: none;
		text-align: center;
	}
	.dropdown-content{
		display: none;
	}
	.footer-pos .navbar-nav {
		text-align: center;
	}

}
@media screen and (min-width: 1024px) {
	.row .header {
		/*position: absolute;*/
		/*background-color: rgba(26, 26, 26, 0.8);*/
		/*padding-bottom: 407px;*/
	}

	.fix {
		display: flex;
		justify-content: space-between;
	}

	.burger-button {
		display: none;
	}
	.burger-line {
		background-color: #ffffff;
		border-radius: 1px;
		display: block;
		margin-bottom: 3px;
		height: 3px;
	}

	.navbar-list {
		display: flex;
		text-align: center;
		clear: right;
		margin-bottom: 0;
	}

	.navbar-item {
		border-left: none;
		border-bottom: none;
		border-top: none;
		cursor: pointer;
	}


	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		list-style-type: none;
	}

	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.dropdown-content a:hover {
		background-color: #f1f1f1
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}

	.knowledge-sec {
		/*background-image: url(../assets/img/slider.png);*/
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.knowledge-item .sec-title {
		margin-top: 250px;
	}
	
	.knowledge-item .desc {
		font-weight: 700;
	}

	.row .footer-pos {
	    display: flex;
    	flex-direction: row;
    	justify-content: space-between;
	}

	.footer-pos .navbar {
		display: flex;
    	padding-top: 0;
    	width: 45%;
    	font-weight: 700;
	}

	.footer-item {
		border: none;
	}

	.footer-pos .logo {
		padding-top: 0;
	}


}